:root {
  /* Color styles */
  --primary-400: hsla(40, 100%, 55%, 1);
  --primary-300: hsla(40, 47.9%, 76.7%, 1);

  --neutral-100: hsla(0, 0%, 100%, 1);
  --neutral-900: hsl(0 0 0 / 1);

  /* Text-size styles */
  /* base size: base (16px) */
  --fs-title: 2rem;
  --fs-input: clamp(1.5rem, 5vw + 0.25rem, 2.25rem);
  --fs-assumption: 1.12rem;
  --fs-output-value: clamp(5rem, 15vw + 1rem, 7.5rem);
  --fs-output-label: 1.75rem;
  --base: 1rem;

  /* Effect styles */
  --frosted-glass: blur(1rem);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:focus {
  outline-offset: 0.25rem;
  outline: 2px solid white;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: var(--base);
  text-align: center;
  color: var(--neutral-100);
  background: #222;
  background-image: url("images/background-image.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  padding: 1rem;
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.container {
  max-width: 80ch;
  padding-inline: 1rem;
  margin-inline: auto;
}

.even-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap, 1rem);
}

.even-columns > * {
  flex: 1;
  min-width: 20ch;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.frosted {
  background: hsl(0 0% 0% / 0.7);
  padding: min(10vmax, 3rem);
}

@supports (backdrop-filter: blur(1rem)) {
  .frosted {
    background: hsl(0 0% 0% / 0.2);
    backdrop-filter: blur(0.5rem);
  }
}

/* typography */

h1 {
  margin-inline: auto;
  margin-block: 1em min(7rem, 5vh);
  font-size: var(--fs-title);
  line-height: 0.9;
  font-weight: 900;
  color: var(--primary-400);
  text-transform: uppercase;
  width: min-content;
}

/* inputs */

label {
  display: block;
  color: hsl(0 0% 100% / 0.8);
  font-weight: 700;
  line-height: 1.2;
}

label span {
  font-weight: 400;
}

#main-controls input {
  color: hsl(0 0% 100% / 0.8);
  font-size: var(--fs-input);
  text-align: center;
  width: 100%;
  max-width: 20ch;
  padding: 0.5em 0.25rem;
  margin-block-start: 0.5rem;
  background: hsl(0 0% 100% / 0.05);
  border: solid 1px var(--primary-400);
  border-radius: 0.25rem;
}

.assumptions {
  color: var(--neutral-100);
  opacity: 0.8;
  margin-block-start: 1.5rem;
}

.result {
  color: var(--primary-400);
  font-size: var(--fs-output-label);
  line-height: 1;
  text-transform: uppercase;
  margin-top: min(5vh, 2rem);
}

.result output {
  display: block;
  font-size: var(--fs-output-value);
  font-weight: 700;
  line-height: 0.8;
  color: var(--neutral-100);
  margin-block-start: 0.5rem;
}

/* input[type="number"] {
  -moz-appearance: textfield;
} */

.unit-toggle {
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.unit-toggle button {
  cursor: pointer;
  width: 4rem;
  /* height: 1.5rem; */
  padding: 0.25em;
  background: transparent;
  border: 2px solid var(--primary-400);
  border-radius: 100vw;
}

.unit-toggle button::before {
  content: "";
  display: block;
  width: 1rem;
  margin: 0 0 0 auto;
  border-radius: 100vw;
  aspect-ratio: 1;
  background: var(--primary-400);
}

.unit-toggle > input:checked + button::before {
  margin: 0;
}

.unit-toggle > label:hover,
.unit-toggle > label:focus-visible {
  cursor: pointer;
  color: white;
}

footer {
  margin-block: auto 2rem;
  opacity: 0.7;
}

footer a {
  font-weight: 700;
  color: var(--primary-400);
}

footer a:hover,
footer a:focus {
  color: inherit;
}
